
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 3rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.7;
    max-width: 108rem;
    margin: 0 auto;
}