.game-controls {
  text-align: center;
  width: 70%;
}

.game-controls-random-number {
  height: 5rem;
  margin-bottom: 2rem;
}

.game-controls-initial-number {
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .game-controls{
    width: 100%;
  }
}