.letter-list-letter {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.letter-list-letter-correct {
  color: green;
}

.letter-list-letter-wrong {
  color: red;
}
